<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>proximanova-light.ttf</string>
		<string>proximanova-regular.ttf</string>
		<string>proximanova-semibold.ttf</string>
		<string>proximanovasoft-medium.otf</string>
		<string>proximanovasoft-regular.otf</string>
		<string>proximanova-regular-italic.otf</string>
	</array>
</dict>
</plist>
